.registerContainer {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.cardRegister {
  background-color: red;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.registerButton {
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}
