.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.input {
    margin-bottom: 10px;
}